@tailwind base;
@tailwind components;
@tailwind utilities;

.left-line::before,
.right-line::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 15%; 
  background-color: white;
  z-index: 500;
}

.left-line::before {
  top: 38%;
  left: 0;
}

.right-line::before {
  bottom: 38%;
  right: 0;
}

.line::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px; 
  background-color: white;
  z-index: 500;
}


.heart-p {
  animation: love 36s ease;
  left: 44%;
}

.heartx {
  position: absolute;
  display: inline-block;
  top: 10%;
}

.heartx:nth-child(1){
  bottom: 20%;
  left: 20%;
  animation: love 10s linear infinite;
}

.heartx:nth-child(2){
  top: 60%;
  left: 80%;
  animation: love 8s linear infinite;
}
.heartx:nth-child(3){
  top: 38%;
  left: 53%;
  animation: love 5s linear infinite;
}
.heartx:nth-child(4){
  top: 90%;
  left: 10%;
  animation: love 7s linear infinite;
}

@keyframes love {

  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}





.heart-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.heart {
  position: absolute;
  width: 250px;
  height: 250px;
  animation: fly-up 5s linear infinite;
}

@keyframes fly-up {
  0% {
    transform: translateY(0) rotate(15deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(15deg);
    opacity: 0;
  }
}
.heart-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  opacity: 0;
  transition:  opacity 0.3s ease-in-out;
  color: white;
}

.heart:hover .heart-name {
  opacity: 1;
}

.envelope::before {
  content: '';
  position: absolute;
  width: 212px;
  height: 212px;
  background: #f08080;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.front {
position: absolute;
border-right: 180px solid #f4978e;
border-top: 95px solid transparent;
border-bottom: 100px solid transparent;
left: 120px;
top: 5px;
width: 0;
height: 0;
z-index: 10;
}

.front::before {
  position: absolute;
  content: '';
  border-left: 300px solid #fda996;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  }

  .card {
    position: relative;
    width: 250px;
    height: 180px;
    background: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
  }

  .card::before {
    content: '';
    position: absolute;
    inset: 10px;
    border: 2px solid #0030006a;
    border-style: dashed;
  }

.envelope:hover .card {
  transform: translateY(-100px);
}